Repository OpenNeuroOrg/openneuro: changes, and which Codecov flags are due for each by the changed paths.
All: app, server

codecov.yml:

comment: false

coverage:
  status:
    project:
      default: off
      app:
        flags: app
      server:
        flags: server

flags:
  app:
    paths:
      - app
  server:
    paths:
      - server

Exit tests early if any fail.
  circle.yml
Due: none

Make everything in circle builds parallel.
  app/package.json
  circle.yml
  server/package.json
Due: app, server

add babel plugins and dependencies for code splitting compantible with react-router and JSX (syntac-dynamic-import,babel-plugin-import-inspector)
  app/.babelrc
Due: app

Update node version in containers and shrink images with alpine base.
  app/Dockerfile
  server/Dockerfile
Due: app, server

Fix missing coverage data in parallel circle builds.
  circle.yml
Due: none

Add missing git binaries to alpine based app build.
  app/Dockerfile
Due: app

Fix app coverage command name.
  app/package.json
Due: app

Container build speed fixes (#88)
  app/Dockerfile
  app/package.json
  circle.yml
  server/Dockerfile
  server/package.json
Due: app, server

Revert parallel container builds.
  circle.yml
Due: none

Fix codecov flag paths.
  codecov.yml
Due: none

Specify the codecov root path.
  app/package.json
  server/package.json
Due: app, server

Include untested files in jest coverage.
  app/package.json
  server/package.json
Due: app, server

Add a dataset summary test.
  app/src/scripts/dataset/__tests__/__snapshots__/dataset.summary.spec.jsx.snap
  app/src/scripts/dataset/__tests__/dataset.summary.spec.jsx
Due: app

Only push docker images for master and release tags.
  circle.yml
Due: none

Add a couple tests for markdown util.
  app/src/scripts/utils/__tests__/markdown.spec.js
Due: app

switching task delete this commit
  app/.babelrc
Due: app

fix for issue #92: Long dataset titles are not wrapped
  app/src/sass/crn_app/_dataset.file-tree.scss
Due: app

Fix anaylsis -> analysis.
  app/src/sass/crn_app/_common.modals.scss
  app/src/scripts/dataset/tools/index.js
  app/src/scripts/dataset/tools/jobs/index.js
  app/src/scripts/dataset/tools/publish.jsx
Due: app

update logic for array-input edit, fix hidden checkbox bug
  app/src/scripts/common/forms/array-input.jsx
Due: app

Add linting fixes.
  app/src/scripts/common/forms/array-input.jsx
Due: app

Add a couple tests for ArrayInput.
  app/src/scripts/common/forms/__tests__/__snapshots__/array-input.spec.jsx.snap
  app/src/scripts/common/forms/__tests__/array-input.spec.jsx
Due: app

Disable commonjs environment for linting.
  app/.eslintrc.json
Due: app

Enable eslint for jsx files.
  app/package.json
Due: app

Add explicit imports to app tests (linting fix).
  app/src/scripts/admin/__tests__/admin.logs.spec.jsx
  app/src/scripts/common/forms/__tests__/array-input.spec.jsx
  app/src/scripts/common/forms/__tests__/input.spec.jsx
  app/src/scripts/common/forms/__tests__/warn-button.spec.jsx
  app/src/scripts/common/partials/__tests__/footer.spec.jsx
  app/src/scripts/common/partials/__tests__/happybrowser.spec.jsx
  app/src/scripts/dataset/__tests__/dataset.jobs.run.spec.jsx
  app/src/scripts/dataset/__tests__/dataset.summary.spec.jsx
  app/src/scripts/dataset/__tests__/dataset.validation.spec.jsx
  app/src/scripts/dataset/tools/jobs/__tests__/parameters.spec.jsx
  app/src/scripts/faq/__tests__/faq.spec.jsx
Due: app

Fix eslint switch -> case levels to match prettier.
  app/.eslintrc.json
Due: app

Fix missing import in input test.
  app/src/scripts/common/forms/__tests__/input.spec.jsx
Due: app

Fix Footer component prop type validation.
  app/src/scripts/common/partials/footer.jsx
Due: app

Allow writing to Papaya globals.
  app/src/scripts/common/partials/papaya.jsx
Due: app

Fix remaining minor linting issues.
  app/src/scripts/admin/admin.create-job.modal.jsx
  app/src/scripts/common/forms/array-input.jsx
  app/src/scripts/common/partials/happybrowser.jsx
  app/src/scripts/dashboard/dashboard.datasets.jsx
  app/src/scripts/dataset/dataset.jobs.jsx
  app/src/scripts/dataset/dataset.jobs.run.jsx
  app/src/scripts/dataset/tools/publish.jsx
  app/src/scripts/front-page/front-page.pipelines.jsx
Due: app

add routing for progression (bar, graph)
  app/src/scripts/admin/admin.jsx
  app/src/scripts/routes.jsx
Due: app

update import statement for scss
  app/src/sass/main.scss
Due: app

add bundler-loader module to webpack with route to bundle
  app/webpack.common.js
Due: app

Refactor _submitLevels out of startBatchJobs for testing.
  server/libs/aws/batch.js
  server/tests/libs/aws.spec.js
Due: server

Fixes the wrong dependency tree with more than two analysis levels.
  server/libs/aws/batch.js
Due: server

Enable cache busting for everything except index.html.
  app/webpack.common.js
  app/webpack.dev.js
  app/webpack.prod.js
Due: app

Fix missing papaya dep after adding hash to filename.
  app/src/index.html
Due: app

Do not cache index.html (forces the client to check for new links to assets).
  app/src/index.html
Due: app

Fix comment mistake.
  server/tests/libs/aws.spec.js
Due: server

Fix null return from _buildLogStreams and log errors in affected query.
  server/handlers/awsJobs.js
Due: server

Fix linting issues.
  server/handlers/awsJobs.js
Due: server
